@charset "utf-8";

/*=====blobal=====*/
body {
  min-width: 700px;
  background-color: #fff9f4;
}

/*=====tabs=====*/
.tabWrap {
  padding: 202px 0 262px 0;
}

.tabWrap .tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tabs .tab {
  background-color: #3fa6b4;
  color: #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.tabs .tab + .tab {
  margin-left: 24px;
}

.tabs .tab:not(.active):hover {
  background-color: #d8d8d8;
  color: #fff;
  height: 65px;
  line-height: 65px;
  opacity: 0.8;
}

.tabs .tab.active {
  background-color: #d8d8d8;
  height: 65px;
  line-height: 65px;
}

/*=====tabPanels=====*/
.tabPanels {
  display: flex;
  justify-content: center;
}

.tabPanels .tabPanel {
  background-color: #fff;
  border-top: solid 10px #d8d8d8;
  height: 442px;
  width: 648px;
  padding: 24px 16px;
  display: none;
}

.tabPanels .tabPanel.active {
  display: block;
}


